<div class="bloc">
<div class="btn">
<button>Accéder à la fiche complète</button>
</div>
    <div class="top">
        <h2>{{nom | uppercase}} {{prenom | uppercase}}</h2>
        <img [src]="imageUrl" [alt]="prenom">
    </div>
    <div class="center">
        <p>{{birthday}}</p>
        <p>{{mail}}</p>
        <p>{{telephone}}</p>
        <p>Suivi depuis le : {{dateDebutSuivi}}</p>
    </div>
    <div class="end">
        <p>Diagnostic : {{diagnostic}}</p>
        <p>Objectif : {{objectif}}</p>
        <p>Programme : {{programme}}</p>
        <p>Dernière consultation : {{lastConsultation}}</p>
        <p>Notes : {{note}}</p>
    </div>

</div>

