<div class="bloc">
    <div class="top">
        <h2>{{patient.nom | uppercase}} {{patient.prenom | uppercase}}</h2>
        <img [src]="patient.imageUrl" [alt]="patient.nom">
    </div>
    <div class="center">
        <p>{{patient.birthday}}</p>
        <p>{{patient.mail}}</p>
        <p>{{patient.telephone}}</p>
        <p>Suivi depuis le : {{patient.telephone}}</p>
    </div>
    <div class="end">
        <p>Diagnostic : {{patient.diagnostic}}</p>
        <p>Objectif:{{patient.objectif}}</p>
        <p>Programme{{patient.programme}}</p>
        <p>Dernière consultation : {{patient.lastConsultation}}</p>
        <p>Notes : {{patient.note}}</p>
    </div>

</div>

