.bloc {
    height: 30%;
    width: 50%;
    margin: 0 0 3% 20%;
    border-radius: 25px;
    background-color: #1b1b1b;
    color: white;
    box-shadow: 6px 12px 14px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

    .top{
        height: 90%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
       align-items: center;
       color: white;

       img{
           height: 60%;
           margin: 2%;
           object-fit: cover;


       }      
    }
    .center{
        height: 90%;
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .end{
      height: 90%;
      width: 40%;
      display: flex;
      flex-direction: column;
    }
}
