<div class="background">
    <div class="head">
        <h1>{{title}}</h1>
        <div class="div_imghead">
            <a [routerLink]=[linkContact]><img class="img_head"[src]="don" alt=""></a>
            <a [routerLink]=[linkNotifications]><img class="img_head"[src]="notification" alt=""></a>
        </div>
    </div>
<section class="all-div">
<div class="hello-bilan">
<app-hello></app-hello>
</div>
<div class="progress-carroussel">
<div class="progress">
</div>
<div class="carroussel">
</div>
</div>
</section>
</div>


