<div class="form-card">
  <h2>NOUVEAU PATIENT</h2>
 <form [formGroup]="newPatientForm">   
    <div class="form-group">
        <label for="nom">Nom</label>
        <input id="nom" type="text" formControlName="nom">
    </div>
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" formControlName="prenom">
    </div>
    <div class="form-group">
        <label for="birthday">Date de naissance</label>
        <input id="birthday" type="date" formControlName="birthday">
    </div>
     <div class="form-group">
        <label for="mail">Mail</label>
        <input id="mail" type="text" formControlName="mail">
    </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input id="telephone" type="string" formControlName="telephone">
    </div>
    <div class="form-group">
        <label for="imageUrl">Photo de profil</label>
        <input id="imageUrl" type="text" formControlName="imageUrl">
    </div>
     <div class="form-group">
        <label for="dateDebutSuivi">Suivi depuis le : </label>
        <input id="dateDebutSuivi" type="date" formControlName="dateDebutSuivi">
    </div>
    <div class="form-group">
        <label for="diagnostic">Diagnostic</label>
        <input id="diagnostic" type="text" formControlName="diagnostic">
    </div>
    <div class="form-group">
        <label for="objectif">Objectif</label>
        <input id="objectif" type="text" formControlName="objectif">
    </div>
    <div class="form-group">
        <label for="programme">Programme</label>
        <input id="programme" type="text" formControlName="programme">
    </div>
     <div class="form-group">
        <label for="lastConsultation">Dernière consultation</label>
        <input id="lastConsultation" type="date" formControlName="lastConsultation">
    </div>
    <div class="form-group">
        <label for="note">Notes</label>
        <textarea id="note" type="text" formControlName="note" rows="4">
        </textarea>
    </div>
   
    <div class="action-buttons">
        <button type="submit" (click)="onSubmitForm()" [disabled]="newPatientForm.invalid">Enregistrer</button>
    </div>
</form>
</div>

<div class="patient-card" *ngIf="newPatientPreview$ | async as patient">
    <div>
        <h2>{{patient.nom | uppercase}} {{patient.prenom | uppercase}}</h2>
        <img [src]="patient.imageUrl" [alt]="patient.nom">
    </div>
    <div>
        <p>{{patient.birthday}}</p>
        <p>{{patient.mail}}</p>
        <p>{{patient.telephone}}</p>
        <p>Suivi depuis le : {{patient.telephone}}</p>
    </div>
    <div>
        <p>Diagnostic : {{patient.diagnostic}}</p>
        <p>Objectif:{{patient.objectif}}</p>
        <p>Programme{{patient.programme}}</p>
        <p>Dernière consultation : {{patient.lastConsultation}}</p>
    </div>
    <div>
        <p>Notes : {{patient.note}}</p>
    </div>

</div>